<%- include('./includes/head.ejs') -%>



  <div class="card mt-5">
    <h1 class="heading text-center ">Welcome to Node Js Login System <br> Created By (Ali Hamza)</h1>
  </div>

  <%- include('includes/foot.ejs') -%>