:root {
    --sidebarWidth: 250px;
}

body {
    background-color: #eff3f6;
}

.form-control {
    background: #fff;
    border: 1px solid #0002;
    font-size: 14px;
}

.form-control:focus {
    border-color: #0005;
    background: #FFF;
}

/* -----------------------
    SideBar Area Start
------------------------ */


/*----------------------
    Top NavBar Start
-----------------------*/
.navbar {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 99;
    padding: 10px 20px;
    padding-left: 320px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar.full-width {
    padding-left: 20px;
}

.navbar .page-name {
    font-size: 20px;
    color: #777;
    font-family: var(--fontFamily);
    font-weight: normal;
}

.navbar .menu {
    flex: 1;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
}

.navbar .menu-item {
    background: none;
    font-size: 16px;
    color: #777;
    border: none;
    cursor: pointer;
}

.navbar .menu-item img {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.dropdown-menu {
    right: 0;
    left: auto;
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 20px #0001;
}

@keyframes fadeTop {
    from {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    to {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.dropdown-menu .dropdown-item {
    display: flex;
    padding: 8px 15px;
}

.dropdown-menu .dropdown-item svg {
    display: inline-block;
}

.dropdown-menu .dropdown-item .text {
    margin-left: 10px;
}

.dropdown-toggle.no-arrow-icon::after {
    content: none !important;
}

/*----------------------
    Top NavBar End
-----------------------*/
/*----------------------
    All Content Start
-----------------------*/
.all-content {
    margin-left: 300px !important;
    margin-top: 70px !important;
    padding: 20px;
}

.all-content.full-width {
    margin-left: 0 !important;
    margin-top: 80px !important;
}

/*----------------------
    All Content End
-----------------------*/
.user-img {
    object-fit: cover;
}



/* #region New Styles */
:root {
    --db-border: 1px solid #0001;
}

.sidebar {
    width: var(--sidebarWidth);
    box-shadow: none;
}

.sidebar .user-info .headline {
    font-size: 13px;
}

.sidebar .nav {
    padding-top: 0;
}

.sidebar .nav .nav-item {
    margin: 0;
}


.navbar:not(.full-width) {
    padding: 10px 30px;
    width: calc(100vw - var(--sidebarWidth));
    left: var(--sidebarWidth);
    height: auto;
}

.navbar .page-name {
    font-size: 17px;
}

.all-content {
    margin-left: var(--sidebarWidth) !important;
}

.all-content.full-width {
    margin-left: 0 !important;
}

/* #endregion New Styles */

/* #region Avatar Upload */
.avatar-upload {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.avatar-upload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-upload .avatar-upload-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.547);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.avatar-upload .avatar-upload-overlay i,
.avatar-upload .avatar-upload-overlay svg {
    font-size: 60px !important;
    fill: #fff;
    color: #fff;
}

.avatar-upload:hover .avatar-upload-overlay {
    opacity: 1;
}

/* #endregion Avatar Upload */

/* #region Sidebar */
.sidebar {
    width: var(--sidebarWidth) !important;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    background: #1e1e1e;
    -webkit-box-shadow: 2px 0 30px #0001;
    box-shadow: 2px 0 30px #0001;
}

.sidebar .user-info {
    border-bottom: 1px solid #fff2;
    display: flex;
    align-items: center;
    padding: 10px 5px;

}

.sidebar .user-info .user-image-container {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.sidebar .user-info .user-img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.sidebar .user-info .user-name {
    font-size: 15px;
    color: #bbb;
    text-align: left;
    padding-left: 10px;
}


.sidebar .nav {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar .nav .nav-item {
    padding: 0 0px;
    list-style: none;
    margin: 2px 0;
    list-style: none;
}

.sidebar .nav .nav-item .nav-link {
    font-size: 18px;
    color: #aaa;
    padding: 12px 10px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.sidebar .nav .nav-item .nav-link svg {
    size: 20px;
    fill: #A9AFBB;
    display: inline-block;
}

.sidebar .nav .nav-item .nav-link .text {
    font-size: 14px;
    margin-left: 10px;
}

.sidebar .nav .nav-item.active>.nav-link {
    background: #696969 !important;
    color: #fff;
}

.sidebar .nav .nav-item.active>.nav-link svg {
    fill: #FFF;
}

.sidebar .nav .nav-item:not(.with-sub-menu):hover>.nav-link {
    background: #353535;
}

.sidebar .nav .nav-item.with-sub-menu .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #region Sub Menu */

.sidebar .nav .sub-menu {
    padding: 0;
    display: none;
}

.sidebar .nav .sub-menu .nav-item {
    margin: 0;
}

.sidebar .nav .sub-menu .nav-item .nav-link {
    font-size: 10px !important;
    padding: 8px;
    padding-left: 45px;
}

.sidebar .nav .sub-menu .nav-item .nav-link i {
    fill: #0005;
}

.sidebar .nav .sub-menu .nav-item.active .nav-link {
    background: var(--bgColorLow) !important;
    box-shadow: none;
    color: var(--textColorFull);
}

/* #endregion Sub Menu */

/* #endregion Sidebar */