<% pageName='Dashboard' ; JS_FILES=['../user/js/script.js']; %>
    <%- include('../includes/head.ejs') -%>
        <%- include('./components/sidebar.ejs') -%>
            <div class="all-content">
                <div class="card">
                    <div class="card-body">
                        <h3 class="heading">Dashboard</h3>
                    </div>
                </div>
            </div>

            <%- include('../includes/foot.ejs') -%>